### 딕셔너리
- 불변한 key, 변화가능한 value로 맵핑되어 있는 순서가 없는 집합

In [1]:
dict1 = {'name':'민희진', 'age':26, 'phone' : '010-7121-2354'}

print(dict1)

print(type(dict1))

{'name': '민희진', 'age': 26, 'phone': '010-7121-2354'}
<class 'dict'>

In [3]:
# 딕셔너리의 값 가져오기

# 딕셔너리는 순서가 없기 때문에 인덱스 번호가 없다.
# 대신, key값을 통해서 데이터를 가져옴

print(dict1['name'])
print(dict1['age'])
print(dict1['phone'])

print()

print(dict1.get('name')) #딕셔너리의 메소드, get함수를 사용해서도 가능

민희진
26
010-7121-2354

민희진

In [7]:
# 딕셔너리의 값 변경
# 키값으로 값을 불러와서 대입
dict1['age'] = 21

dict1

{'name': '민희진', 'age': 21, 'phone': '010-7121-2354'}

In [9]:
# 딕셔너리의 값 추가
# 기존에 없는 키값에 대입
dict1['birth'] = '06/17'

dict1

{'name': '민희진', 'age': 21, 'phone': '010-7121-2354', 'birth': '06/17'}

In [11]:
# 딕셔너리의 값 삭제
# del 키워드 사용

del dict1['age']

dict1

{'name': '민희진', 'phone': '010-7121-2354', 'birth': '06/17'}

In [13]:
# 딕셔너리 비우기
# clear()

dict1.clear()

dict1

In [19]:
dict1 = {'name':'민희진', 'age':26, 'phone' : '010-7121-2354'}

dict1

{'name': '민희진', 'age': 26, 'phone': '010-7121-2354'}

In [21]:
# 딕셔너리의 key값만 가져오기
dict1.keys()

dict_keys(['name', 'age', 'phone'])

In [23]:
# 딕셔너리의 value값만 가져오기
dict1.values()

dict_values(['민희진', 26, '010-7121-2354'])

In [25]:
mini = {'팀원1' : '민희진'}

mini

{'팀원1': '민희진'}

In [27]:
mini['팀원2'] = '노정환'
mini['팀원3'] = '이윤지'
mini['팀원4'] = '김승겸'

mini

{'팀원1': '민희진', '팀원2': '노정환', '팀원3': '이윤지', '팀원4': '김승겸'}

In [29]:
for i in mini.values():
    print(i)

민희진
노정환
이윤지
김승겸

In [31]:
for i in mini:
    print(i)

팀원1
팀원2
팀원3
팀원4

In [33]:
for i in mini.keys():
    print(i)

팀원1
팀원2
팀원3
팀원4

In [35]:
mini

{'팀원1': '민희진', '팀원2': '노정환', '팀원3': '이윤지', '팀원4': '김승겸'}