### Series : 1차원 데이터
- 인덱스 + 값

Series 만들기
- 각 도시들의 인구수를 Series로 만들어보자

In [14]:
import pandas as pd

In [3]:
# Series 만드는 함수
pop = pd.Series([9901232, 3441423, 2891323, 2462123])

pop

0    9901232
1    3441423
2    2891323
3    2462123
dtype: int64

In [5]:
# 인덱스에 이름 부여
pop.index = ['서울','부산','인천','대구']

pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [9]:
# 이름을 재설정
# rename

pop.rename({'서울':'써울'})

써울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [11]:
pop # rename은 원본에 영향없음, 다시 재할당 해줘야함

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [13]:
# Series에 인덱스 이름을 부여해서 만들기
pop = pd.Series([9901232, 3441423, 2891323, 2462123],
               index = ['서울','부산','인천','대구']
               )
pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [15]:
# 딕셔너리로 만드는 방법
# key값이 인덱스의 이름
# value값이 값
pp = pd.Series({'k1':1, 'k2':2, 'k3':3})

pp

k1    1
k2    2
k3    3
dtype: int64

In [17]:
pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [19]:
# Series에 이름 부여
pop.name = '인구'

pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
Name: 인구, dtype: int64

In [21]:
# Series의 index전체의 이름을 부여

pop.index.name = '도시'

pop

도시
서울    9901232
부산    3441423
인천    2891323
대구    2462123
Name: 인구, dtype: int64

### Series의 값들 확인하기 (속성 확인)

In [24]:
# Series의 값들 확인
pop.values

array([9901232, 3441423, 2891323, 2462123], dtype=int64)

In [26]:
type(pop.values)

numpy.ndarray

In [38]:
arr = pd.array([4, 3, 2, 1])

In [40]:
arr

<IntegerArray>
[4, 3, 2, 1]
Length: 4, dtype: Int64

In [32]:
# Series의 index 확인
pop.index

Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')

In [34]:
# Series의 데이터 타입 확인
pop.dtype

dtype('int64')

### 인덱싱

In [43]:
pop

도시
서울    9901232
부산    3441423
인천    2891323
대구    2462123
Name: 인구, dtype: int64

In [9]:
# 인덱스의 이름으로 인덱싱
pop['부산']

3441423

In [47]:
pop[1]

C:\Users\smhrd1\AppData\Local\Temp\ipykernel_9616\3473408226.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pop[1]

3441423

In [7]:
# 여러 도시를 인덱싱

pop[['부산','대구']]

부산    3441423
대구    2462123
dtype: int64

In [11]:
pop['부산','대구']

KeyError: 'key of type tuple not found and not a MultiIndex'

### 슬라이싱

In [56]:
pop

도시
서울    9901232
부산    3441423
인천    2891323
대구    2462123
Name: 인구, dtype: int64

In [58]:
# 인덱스 번호로 슬라이싱
# 부산~인천(1~2번 인덱스 가져옴)
# 끝값으 포함되지 않음!
pop[1:3]

도시
부산    3441423
인천    2891323
Name: 인구, dtype: int64

In [60]:
# 인덱스 이름으로 슬라이싱
# 끝값이 포함된다!
pop['부산':'인천']

도시
부산    3441423
인천    2891323
Name: 인구, dtype: int64

### 불리언 인덱싱
- 특정 조건에 맞는 데이터를 가져온다.
- 인덱스 번호 대신, 조건식을 입력한다.

In [67]:
# Series를 이용해 불리언 값을 가져와보자 

# 인구가 300만 이하인가?
pop<3000000

# 불리언 인덱싱의 재료

도시
서울    False
부산    False
인천     True
대구     True
Name: 인구, dtype: bool

In [71]:
pop[pop<=3000000]

도시
인천    2891323
대구    2462123
Name: 인구, dtype: int64

In [75]:
# 불리언 인덱싱
# 인구가 250만 이상이고, 500만 이하인 도시들을 가져와보자
pop[(2500000 <= pop) & (pop <= 5000000)]

도시
부산    3441423
인천    2891323
Name: 인구, dtype: int64

### Series 데이터 변경, 추가, 삭제

In [80]:
pop

도시
서울    9901232
부산    3441423
인천    2891323
대구    2462123
Name: 인구, dtype: int64

In [86]:
# 인덱싱으로 불러와서, 새로운 값을 넣어줌

pop['부산'] = 3400000

pop

도시
서울    9901232
부산    3400000
인천    2891323
대구    2462123
Name: 인구, dtype: int64

In [94]:
# 데이터 추가
# 기존에 없는 인덱스 라벨에 데이터를 넣어줌

pop['대전'] = 2400000

pop

도시
서울    9901232
부산    3400000
인천    2891323
대구    2462123
대전    2400000
Name: 인구, dtype: int64

In [96]:
# 데이터를 삭제 
del pop['서울']

pop

도시
부산    3400000
인천    2891323
대구    2462123
대전    2400000
Name: 인구, dtype: int64

### DataFrame(2차원 데이터) 만들기

In [99]:
# 딕셔너리를 이용, 데이터 프레임 생성

data = {'서울' : [9904312, 9631482],
        '부산' : [3448737, 3393191],
        '인천' : [2890451, 2632035],
        '대구' : [2466052, 2431774]
        }

ind = ['2015','2010']

pop = pd.DataFrame(data, index = ind)

pop

# Series : key값이 인덱스의 이름
# DataFrame : key값이 컬럼명으로 들어간다.

           서울       부산       인천       대구
2015  9904312  3448737  2890451  2466052
2010  9631482  3393191  2632035  2431774

In [103]:
# 리스트 이용, 데이터 프레임 생성

data = [ [9904312,3448737,2890451,2466052],
        [9631482,3393191,2632035,2431774]
       ]

ind = ['2015','2010']
col = ['서울','부산','인천','대구']

# pd.DataFrame(데이터, index = 인덱스이름, columns = 컬럼이름)
pop = pd.DataFrame(data, index = ind, columns = col)

pop

           서울       부산       인천       대구
2015  9904312  3448737  2890451  2466052
2010  9631482  3393191  2632035  2431774

In [105]:
# 인덱스 이름 변경
# DF.rename(index={바꾸기 전:바꾼 후}, columns = {바꾸기 전:바꾼 후} )
pop.rename(index = {'2015':'2016', '2010':'2011'})

           서울       부산       인천       대구
2016  9904312  3448737  2890451  2466052
2011  9631482  3393191  2632035  2431774

In [107]:
pop # 원본에는 영향 미치지 않음

           서울       부산       인천       대구
2015  9904312  3448737  2890451  2466052
2010  9631482  3393191  2632035  2431774

정리
- DF를 생성하는 방법은 2가지
- 딕셔너리 방식은 key값이 컬럼명, value값이 전치(위에서 아래로)돼서 들어감
- 리스트 방식은 보이는 위치 그대로 들어감

In [125]:
# 전치
pop = pop.T

pop

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [127]:
# DF의 컬럼 변경
# 기존 컬럼을 인덱싱해서 새 값 대입
pop['2015'] = [990,345,289,247]

pop

    2015     2010
서울   990  9631482
부산   345  3393191
인천   289  2632035
대구   247  2431774

In [139]:
pop['서울':'서울']

    2015     2010
서울   990  9631482

In [216]:
# DF에 새로운 컬럼 추가
pop['2005'] = [1,2,3,4]

pop

       2015     2010  2005
서울  9904312  9631482     1
부산  3448737  3393191     2
인천  2890451  2632035     3
대구  2466052  2431774     3

In [145]:
# DF 컬럼 삭제
del pop['2005']

pop

    2015     2010
서울   990  9631482
부산   345  3393191
인천   289  2632035
대구   247  2431774

행 or 열 삭제(drop)

In [150]:
# drop : 행 또는 열 삭제
# 행 삭제시에는 인덱스명(서울 부산), 열 삭제시에는 컬럼명(2015 2005)
# 축방향 설정 필요. axis = 0 (행), axis = 1 (열) (생략시, axis = 0)
# inplace = True 원본에 영향을 미침, 생략시 False

# DF.drop(행 or 열 이름, axis = 0 or 1, inplace = True or False)

pop.drop('2005', axis = 1, inplace = False)

    2015     2010
서울   990  9631482
부산   345  3393191
인천   289  2632035
대구   247  2431774

In [152]:
pop

    2015     2010  2005
서울   990  9631482     1
부산   345  3393191     2
인천   289  2632035     3
대구   247  2431774     4

In [154]:
# inplace = True
pop.drop('2005', axis = 1, inplace = True)

pop

    2015     2010
서울   990  9631482
부산   345  3393191
인천   289  2632035
대구   247  2431774

In [158]:
pop.drop('서울')
# axis = 0, inplace = False

    2015     2010
부산   345  3393191
인천   289  2632035
대구   247  2431774

In [160]:
pop

    2015     2010
서울   990  9631482
부산   345  3393191
인천   289  2632035
대구   247  2431774

In [162]:
pop['2015'] = [9904312,3448737,2890451,2466052]

pop

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

### DataFrame 속성 확인
- 형태, 값, 인덱스, 컬럼명

In [165]:
# 형태
pop.shape
# 4행 2열

(4, 2)

In [167]:
# 값
pop.values

array([[9904312, 9631482],
       [3448737, 3393191],
       [2890451, 2632035],
       [2466052, 2431774]], dtype=int64)

In [173]:
# 인덱스명
pop.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [175]:
# 컬럼명
pop.columns

Index(['2015', '2010'], dtype='object')

In [177]:
data = [[175.3, 66.2, 27.0],
        [180.2, 78.9, 49.0],
        [178.6, 55.1, 35.0]]
ind = ['홍길동', '김사또', '임꺽정']
col = ['키', '몸무게', '나이']

pop2 = pd.DataFrame(data, index = ind, columns = col)

pop2

         키   몸무게    나이
홍길동  175.3  66.2  27.0
김사또  180.2  78.9  49.0
임꺽정  178.6  55.1  35.0

In [181]:
pop2.T

       홍길동    김사또    임꺽정
키    175.3  180.2  178.6
몸무게   66.2   78.9   55.1
나이    27.0   49.0   35.0

In [185]:
# 리스트를 이용하여 생성
DF1 = pd.DataFrame([[175.3, 66.2, 27.0],
                    [180.2, 78.9, 49.0],
                    [178.6, 55.1, 35.0]],   # 데이터부분
                   index = ['홍길동', '김사또', '임꺽정'],   # 인덱스
                   columns = ['키', '몸무게', '나이']   # 컬럼
                  )

DF1

         키   몸무게    나이
홍길동  175.3  66.2  27.0
김사또  180.2  78.9  49.0
임꺽정  178.6  55.1  35.0

In [187]:
# 딕셔너리를 이용하여 생성
data = {'키' : [175.3, 180.2, 178.6],
        '몸무게' : [66.2, 78.9, 55.1],
        '나이' : [27.0, 49.0, 35.0],
       }

ind = ['홍길동', '김사또', '임꺽정']

DF2 = pd.DataFrame(data, index = ind)

DF2

         키   몸무게    나이
홍길동  175.3  66.2  27.0
김사또  180.2  78.9  49.0
임꺽정  178.6  55.1  35.0

### 연산

In [194]:
pop = pop.T

In [196]:
pop+1000000
# 각 값에 모두 계산

        2015      2010
서울  10904312  10631482
부산   4448737   4393191
인천   3890451   3632035
대구   3466052   3431774

In [198]:
# 새로운 데이터 pop2 정의
pop2 = pop + 1000000
pop2 # pop1과의 차이는 1000000

        2015      2010
서울  10904312  10631482
부산   4448737   4393191
인천   3890451   3632035
대구   3466052   3431774

In [200]:
pop2 - pop

       2015     2010
서울  1000000  1000000
부산  1000000  1000000
인천  1000000  1000000
대구  1000000  1000000

In [202]:
pop2['2005'] = [1,2,3,4]

pop2

        2015      2010  2005
서울  10904312  10631482     1
부산   4448737   4393191     2
인천   3890451   3632035     3
대구   3466052   3431774     4

In [204]:
# pop2 : 2005컬럼보유
# pop : 2005컬럼 미보유

pop2 - pop

# 인덱스명, 컬럼명 모두 일치한 부분끼리만 연산
# NaN (Not a Number):정해지지 않은 값

    2005     2010     2015
서울   NaN  1000000  1000000
부산   NaN  1000000  1000000
인천   NaN  1000000  1000000
대구   NaN  1000000  1000000

### DataFrame의 인덱싱, 슬라이싱

In [139]:
# read_csv
# read_csv('데이터 위치', encoding = '인코딩 방식', index_col = 인덱스로 만들 컬럼)
score_data = pd.read_csv('data/score.csv', encoding = 'euc-kr', index_col = 0)

# encoding : 컴퓨터가 문자를 인식 할 수 있도록 해주는 처리 과정
# euc-kr : 한글 전용 인코딩 방식
# index_col : 데이터에서 인덱스로 만들어줄 컬럼 설정

score_data

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [213]:
# 데이터 정의
data = {
    '1반': [45, 76, 47, 92, 11],
    '2반': [44, 92, 92, 81, 79],
    '3반': [73, 45, 45, 85, 47],
    '4반': [39, 69, 69, 40, 26]
}

# 인덱스 정의
index = ['수학', '영어', '국어', '사회', '과학']

# DataFrame 생성
df = pd.DataFrame(data, index=index)


df.index.name = '과목' # 인덱스 전체의 이름 설정
# df.columns.name = '반'

df

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [ ]:
df.loc('제2외국어', : ) = [

df 열(컬럼) 인덱싱

In [220]:
score_data['1반']

과목
수학    45
영어    76
국어    47
사회    92
과학    11
Name: 1반, dtype: int64

In [224]:
# 여러반 인덱싱
# 1반, 3반
score_data[['1반','3반']]

    1반  3반
과목
수학  45  73
영어  76  45
국어  47  45
사회  92  85
과학  11  47

In [226]:
score_data[['1반']]

    1반
과목
수학  45
영어  76
국어  47
사회  92
과학  11

- DF 행 인덱싱
- DF에서 행 인덱싱을 위해서는 슬라이싱을 사용해야함

In [10]:
# 수학 ~ 국어
score_data['수학':'국어']

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69

In [239]:
# 행 번호로도 가능
score_data[0:1]

    1반  2반  3반  4반
과목
수학  45  44  73  39

#### 정리
- DF의 기본적인 열 접근은 컬럼명(인덱싱)으로!
- 행 접근은 슬라이싱(범위)
- 인덱싱 -> 열
- 슬라이싱 -> 행

### loc, iloc를 활용한 인덱싱, 슬라이싱
- 한번에 행과 열에 모두 접근 가능
- 기본적으로 행에 먼저 접근

In [244]:
score_data

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [246]:
# loc : 이름으로 접근
# DF.loc[행의범위(명칭), 열의범위(명칭)]

# 각 반의 과학 점수
score_data.loc['과학' , : ]

1반    11
2반    79
3반    47
4반    26
Name: 과학, dtype: int64

In [248]:
score_data.loc['과학'] # 열의 범위가 전체일 경우 생략 가능, 행의 범위는 생략 안됨

1반    11
2반    79
3반    47
4반    26
Name: 과학, dtype: int64

In [254]:
# 4반과 1반의 점수
score_data.loc[ : , ['4반','1반']]

    4반  1반
과목
수학  39  45
영어  69  76
국어  69  47
사회  40  92
과학  26  11

iloc

In [18]:
score_data

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [22]:
# iloc는 인덱스 번호로 접근
# DF.iloc[ 행의범위 , 열의범위 ]

#각 반의 과학


# score_data.iloc[ 4 , : ]
score_data.iloc[ 4 ] # 열의범위가 전체일 경우 생략가능

1반    11
2반    79
3반    47
4반    26
Name: 과학, dtype: int64

In [24]:
# 3반의 국어, 사회 점수
score_data.iloc[2:4, 2]

과목
국어    45
사회    85
Name: 3반, dtype: int64

In [26]:
# 1,2반의 수학과 사회점수
score_data.iloc[[0, 3], 0:2]

    1반  2반
과목
수학  45  44
사회  92  81

In [28]:
score_data.iloc[[0, 3] , [0, 1]]

    1반  2반
과목
수학  45  44
사회  92  81

- 2반의 사회점수 데이터 접근(loc, iloc 두가지 다 해보세요)

In [35]:
score_data.loc['사회', '2반']

81

In [37]:
score_data.iloc[3, 1]

81

- 2반, 4반의 국어와 사회점수 데이터 접근(loc, iloc 두가지 다 해보세요)

In [47]:
score_data.loc['국어':'사회', ['2반', '4반']]

    2반  4반
과목
국어  92  69
사회  81  40

In [45]:
score_data.iloc[2:4, [1, 3]]

    2반  4반
과목
국어  92  69
사회  81  40

In [49]:
score = score_data.T

score

과목  수학  영어  국어  사회  과학
1반  45  76  47  92  11
2반  44  92  92  81  79
3반  73  45  45  85  47
4반  39  69  69  40  26

### 예제
- 영어점수가 75점 이상인, 영어점수들을 가져와보자

In [52]:
score.loc['1반':'2반', '영어']

1반    76
2반    92
Name: 영어, dtype: int64

In [70]:
score1 = score.loc[:, '영어']
score1[75<=score1]

1반    76
2반    92
Name: 영어, dtype: int64

In [74]:
score2 = score.iloc[:, 1]
score2[75<=score2]

1반    76
2반    92
Name: 영어, dtype: int64

In [ ]:
# 조건, 불

In [96]:
score.loc[:, '영어'] >= 75

1반     True
2반     True
3반    False
4반    False
Name: 영어, dtype: bool

In [98]:
score['영어']

1반    76
2반    92
3반    45
4반    69
Name: 영어, dtype: int64

In [100]:
score[score.loc[:, '영어'] >= 75]

과목  수학  영어  국어  사회  과학
1반  45  76  47  92  11
2반  44  92  92  81  79

In [86]:
score[score.loc[:, '영어'] >= 75]['영어']

1반    76
2반    92
Name: 영어, dtype: int64

In [94]:
score[score.iloc[:, 1] >= 75]['영어']

1반    76
2반    92
Name: 영어, dtype: int64

In [104]:
score
# 조건식 
# 영어점수가 75점 이상인가?

과목  수학  영어  국어  사회  과학
1반  45  76  47  92  11
2반  44  92  92  81  79
3반  73  45  45  85  47
4반  39  69  69  40  26

In [108]:
score['영어'] >= 75 # 열에 접근이라 loc안써도됨

1반     True
2반     True
3반    False
4반    False
Name: 영어, dtype: bool

In [112]:
score[score['영어'] >= 75]['영어']

1반    76
2반    92
Name: 영어, dtype: int64

### sum(), mean() 함수

In [115]:
score_data

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [117]:
# 합계를 구해주는 함수
# sum()
# DF.sum(axis = 0 or 1)
# 행방향 합계 : axis = 0
# 열방향 합계 : axis = 1
# axis는 생략시 0

score_data.sum()
# 행방향!!!!! 합계

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [119]:
score_data.sum(axis = 1)
# 열방향!!!!! 합계

과목
수학    201
영어    282
국어    253
사회    298
과학    163
dtype: int64

In [129]:
# 각 과목의 총합을 구해서 새로운 열에 넣기
score_data['총합'] = score_data.sum(axis = 1)

score_data

    1반  2반  3반  4반    총합
과목
수학  45  44  73  39  1005
영어  76  92  45  69  1410
국어  47  92  45  69  1265
사회  92  81  85  40  1490
과학  11  79  47  26   815

In [169]:
# 여러번 실행해도 값이 같도록 코드를 수정해보자
score_data['총합'] = score_data.loc[:, '1반':'4반'].sum(axis = 1)

score_data

    1반  2반  3반  4반   총합
과목
수학  45  44  73  39  201
영어  76  92  45  69  282
국어  47  92  45  69  253
사회  92  81  85  40  298
과학  11  79  47  26  163

value_counts()
- 특정 컬럼에 있는 데이터들의 유니크값(유일한 값)과 그 개수를 출력

In [172]:
df_sleep = pd.DataFrame([['집중', '집중', '집중', '집중'],
                         ['집중', '집중', '졸림', '졸림'],
                         ['집중', '졸림', '숙면', '숙면']],
                        index = ['학생1','학생2', '학생3'],
                        columns = ['5교시', '6교시', '7교시', '8교시'])

df_sleep

    5교시 6교시 7교시 8교시
학생1  집중  집중  집중  집중
학생2  집중  집중  졸림  졸림
학생3  집중  졸림  숙면  숙면

In [176]:
# 5교시 학생들 상태
df_sleep['5교시'].value_counts()

5교시
집중    3
Name: count, dtype: int64

In [178]:
df_sleep['6교시'].value_counts()

6교시
집중    2
졸림    1
Name: count, dtype: int64

In [180]:
df_sleep['7교시'].value_counts()

7교시
집중    1
졸림    1
숙면    1
Name: count, dtype: int64

In [182]:
df_sleep.loc[:, '6교시'].value_counts()

6교시
집중    2
졸림    1
Name: count, dtype: int64

In [184]:
# 학생별로 상태 확인
df_sleep.loc['학생3', :].value_counts()

학생3
숙면    2
집중    1
졸림    1
Name: count, dtype: int64

In [186]:
df_sleep.loc['학생1':'학생2', '6교시'].value_counts()

6교시
집중    2
Name: count, dtype: int64

### 2015 ~ 2017년 광주 광역시 범죄현황 데이터를 이용해서 전년 대비 지역별 범죄 증감률 구하기
- 증감률 = (금년 - 작년) / 작년 * 100

#### 1. 데이터 로드
- 인덱스컬럼은 '관서명'
- 인코딩은 'euc-kr'

In [190]:
df2015 = pd.read_csv('data/2015.csv', encoding='euc-kr', index_col='관서명')
df2016 = pd.read_csv('data/2016.csv', encoding='euc-kr', index_col='관서명')
df2017 = pd.read_csv('data/2017.csv', encoding='euc-kr', index_col='관서명')

In [200]:
df2015

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수  18  44      750  8425   9593
광주지방경찰청계  검거건수  18  47      758  5409   8301
광주지방경찰청계  검거인원  17  66      776  3433  11774
광주지방경찰청계    구속   9  33       42   104     58
광주지방경찰청계   불구속   1  26      511  2781   5618
광주지방경찰청계    기타   7   7      223   548   6098
광주동부경찰서   발생건수   3   5       92  1100   1155
광주동부경찰서   검거건수   4   6       86   583    970
광주동부경찰서   검거인원   4   7       98   447   1483
광주동부경찰서     구속   3   2        8    13     10
광주동부경찰서    불구속   0   4       63   379    703
광주동부경찰서     기타   1   1       27    55    770
광주서부경찰서   발생건수   5  10      172  2050   2483
광주서부경찰서   검거건수   4   8      153  1471   2124
광주서부경찰서   검거인원   4  15      167   876   3080
광주서부경찰서     구속   3  10        7    27     19
광주서부경찰서    불구속   0   5       91   665   1366
광주서부경찰서     기타   1   0       69   184   1695
광주남부경찰서   발생건수   1   3       70   962   1081
광주남부경찰서   검거건수   1   3       53   506    941
광주남부경찰서   검거인원   1   3       52   418   1260
광주남부경찰서     구속   0   3        3    19      3
광주남부경찰서    불구속   1   0       39   325    675
광주남부경찰서     기타   0   0       10    74    582
광주북부경찰서   발생건수   5  14      256  2570   2621
광주북부경찰서   검거건수   5  18      212  1852   2319
광주북부경찰서   검거인원   5  28      216   948   3168
광주북부경찰서     구속   3  11       11    30     10
광주북부경찰서    불구속   0  12      153   770   1544
광주북부경찰서     기타   2   5       52   148   1614
광주광산경찰서   발생건수   4  12      160  1743   2253
광주광산경찰서   검거건수   4  10      135   996   1922
광주광산경찰서   검거인원   3   8      129   736   2585
광주광산경찰서     구속   0   4        5    12      6
광주광산경찰서    불구속   0   4       81   639   1181
광주광산경찰서     기타   3   0       43    85   1398

In [202]:
df2015.loc['광주동부경찰서']

# 다중인덱스(MultiIndex)

           구분  살인  강도  강간·강제추행    절도    폭력
관서명
광주동부경찰서  발생건수   3   5       92  1100  1155
광주동부경찰서  검거건수   4   6       86   583   970
광주동부경찰서  검거인원   4   7       98   447  1483
광주동부경찰서    구속   3   2        8    13    10
광주동부경찰서   불구속   0   4       63   379   703
광주동부경찰서    기타   1   1       27    55   770

In [210]:
# 데이터의 형태 확인
print(df2015.shape)
print(df2016.shape)
print(df2017.shape)

(36, 6)
(36, 6)
(42, 6)

In [212]:
# 2017년도의 index확인
df2017.index

Index(['광주지방경찰청계', '광주지방경찰청계', '광주지방경찰청계', '광주지방경찰청계', '광주지방경찰청계', '광주지방경찰청계',
       '광주지방경찰청', '광주지방경찰청', '광주지방경찰청', '광주지방경찰청', '광주지방경찰청', '광주지방경찰청',
       '광주동부경찰서', '광주동부경찰서', '광주동부경찰서', '광주동부경찰서', '광주동부경찰서', '광주동부경찰서',
       '광주서부경찰서', '광주서부경찰서', '광주서부경찰서', '광주서부경찰서', '광주서부경찰서', '광주서부경찰서',
       '광주남부경찰서', '광주남부경찰서', '광주남부경찰서', '광주남부경찰서', '광주남부경찰서', '광주남부경찰서',
       '광주북부경찰서', '광주북부경찰서', '광주북부경찰서', '광주북부경찰서', '광주북부경찰서', '광주북부경찰서',
       '광주광산경찰서', '광주광산경찰서', '광주광산경찰서', '광주광산경찰서', '광주광산경찰서', '광주광산경찰서'],
      dtype='object', name='관서명')

In [214]:
# set : 중복값 제거 후 유니크값(유일한 값)만
set(df2017.index)

{'광주광산경찰서', '광주남부경찰서', '광주동부경찰서', '광주북부경찰서', '광주서부경찰서', '광주지방경찰청', '광주지방경찰청계'}

In [216]:
type(set(df2017.index))

set

In [218]:
set(df2015.index)

{'광주광산경찰서', '광주남부경찰서', '광주동부경찰서', '광주북부경찰서', '광주서부경찰서', '광주지방경찰청계'}

In [220]:
# 2017년도에만 있는 index 추출
set(df2017.index) - set(df2015.index)

{'광주지방경찰청'}

In [222]:
df2017

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주지방경찰청   발생건수   0   0        0     0      0
광주지방경찰청   검거건수   0   1       91     0     37
광주지방경찰청   검거인원   0   1      105     0    149
광주지방경찰청     구속   0   0       17     0      7
광주지방경찰청    불구속   0   1       53     0     69
광주지방경찰청     기타   0   0       35     0     73
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

### 2.데이터 전처리
- 데이터를 살펴보면 df2017에만 '광주지방경찰청' index가 있고, 데이터도 부실
- 해당 행 삭제

In [225]:
df2017.drop('광주지방경찰청', inplace = True)

In [227]:
df2017.shape

(36, 6)

In [230]:
df2015

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수  18  44      750  8425   9593
광주지방경찰청계  검거건수  18  47      758  5409   8301
광주지방경찰청계  검거인원  17  66      776  3433  11774
광주지방경찰청계    구속   9  33       42   104     58
광주지방경찰청계   불구속   1  26      511  2781   5618
광주지방경찰청계    기타   7   7      223   548   6098
광주동부경찰서   발생건수   3   5       92  1100   1155
광주동부경찰서   검거건수   4   6       86   583    970
광주동부경찰서   검거인원   4   7       98   447   1483
광주동부경찰서     구속   3   2        8    13     10
광주동부경찰서    불구속   0   4       63   379    703
광주동부경찰서     기타   1   1       27    55    770
광주서부경찰서   발생건수   5  10      172  2050   2483
광주서부경찰서   검거건수   4   8      153  1471   2124
광주서부경찰서   검거인원   4  15      167   876   3080
광주서부경찰서     구속   3  10        7    27     19
광주서부경찰서    불구속   0   5       91   665   1366
광주서부경찰서     기타   1   0       69   184   1695
광주남부경찰서   발생건수   1   3       70   962   1081
광주남부경찰서   검거건수   1   3       53   506    941
광주남부경찰서   검거인원   1   3       52   418   1260
광주남부경찰서     구속   0   3        3    19      3
광주남부경찰서    불구속   1   0       39   325    675
광주남부경찰서     기타   0   0       10    74    582
광주북부경찰서   발생건수   5  14      256  2570   2621
광주북부경찰서   검거건수   5  18      212  1852   2319
광주북부경찰서   검거인원   5  28      216   948   3168
광주북부경찰서     구속   3  11       11    30     10
광주북부경찰서    불구속   0  12      153   770   1544
광주북부경찰서     기타   2   5       52   148   1614
광주광산경찰서   발생건수   4  12      160  1743   2253
광주광산경찰서   검거건수   4  10      135   996   1922
광주광산경찰서   검거인원   3   8      129   736   2585
광주광산경찰서     구속   0   4        5    12      6
광주광산경찰서    불구속   0   4       81   639   1181
광주광산경찰서     기타   3   0       43    85   1398

### 3. 지역별 범죄 증감률을 위한 총계 추가

In [232]:
# 총계라는 새로운 컬럼 추가

df2015['총계'] = df2015.loc[ : , '살인':'폭력'].sum(axis=1)
df2016['총계'] = df2016.loc[ : , '살인':'폭력'].sum(axis=1)
df2017['총계'] = df2017.loc[ : , '살인':'폭력'].sum(axis=1)

In [234]:
df2015

            구분  살인  강도  강간·강제추행    절도     폭력     총계
관서명
광주지방경찰청계  발생건수  18  44      750  8425   9593  18830
광주지방경찰청계  검거건수  18  47      758  5409   8301  14533
광주지방경찰청계  검거인원  17  66      776  3433  11774  16066
광주지방경찰청계    구속   9  33       42   104     58    246
광주지방경찰청계   불구속   1  26      511  2781   5618   8937
광주지방경찰청계    기타   7   7      223   548   6098   6883
광주동부경찰서   발생건수   3   5       92  1100   1155   2355
광주동부경찰서   검거건수   4   6       86   583    970   1649
광주동부경찰서   검거인원   4   7       98   447   1483   2039
광주동부경찰서     구속   3   2        8    13     10     36
광주동부경찰서    불구속   0   4       63   379    703   1149
광주동부경찰서     기타   1   1       27    55    770    854
광주서부경찰서   발생건수   5  10      172  2050   2483   4720
광주서부경찰서   검거건수   4   8      153  1471   2124   3760
광주서부경찰서   검거인원   4  15      167   876   3080   4142
광주서부경찰서     구속   3  10        7    27     19     66
광주서부경찰서    불구속   0   5       91   665   1366   2127
광주서부경찰서     기타   1   0       69   184   1695   1949
광주남부경찰서   발생건수   1   3       70   962   1081   2117
광주남부경찰서   검거건수   1   3       53   506    941   1504
광주남부경찰서   검거인원   1   3       52   418   1260   1734
광주남부경찰서     구속   0   3        3    19      3     28
광주남부경찰서    불구속   1   0       39   325    675   1040
광주남부경찰서     기타   0   0       10    74    582    666
광주북부경찰서   발생건수   5  14      256  2570   2621   5466
광주북부경찰서   검거건수   5  18      212  1852   2319   4406
광주북부경찰서   검거인원   5  28      216   948   3168   4365
광주북부경찰서     구속   3  11       11    30     10     65
광주북부경찰서    불구속   0  12      153   770   1544   2479
광주북부경찰서     기타   2   5       52   148   1614   1821
광주광산경찰서   발생건수   4  12      160  1743   2253   4172
광주광산경찰서   검거건수   4  10      135   996   1922   3067
광주광산경찰서   검거인원   3   8      129   736   2585   3461
광주광산경찰서     구속   0   4        5    12      6     27
광주광산경찰서    불구속   0   4       81   639   1181   1905
광주광산경찰서     기타   3   0       43    85   1398   1529

##### 구분 컬럼의 '발생건수'의 '총계' 가져오기

In [237]:
# 구분 == '발생건수'

s15 = df2015.loc[ df2015['구분']=='발생건수' , '총계' ]
# 행의 범위 : 조건식(불리언 인덱싱)
# 열의 범위 : '총계'

s15

관서명
광주지방경찰청계    18830
광주동부경찰서      2355
광주서부경찰서      4720
광주남부경찰서      2117
광주북부경찰서      5466
광주광산경찰서      4172
Name: 총계, dtype: int64

In [241]:
s16 = df2016.loc[ df2016['구분']=='발생건수' , '총계' ]
s17 = df2017.loc[ df2017['구분']=='발생건수' , '총계' ]

In [243]:
s16

관서명
광주지방경찰청계    15416
광주동부경찰서      2068
광주서부경찰서      3892
광주남부경찰서      1865
광주북부경찰서      4148
광주광산경찰서      3443
Name: 총계, dtype: int64

In [245]:
s17

관서명
광주지방경찰청계    13949
광주동부경찰서      1799
광주서부경찰서      3638
광주남부경찰서      1547
광주북부경찰서      3945
광주광산경찰서      3020
Name: 총계, dtype: int64

### 4. 전년대비 범죄 발생 횟수 증감률 계산
- 공식 : (금년 - 작년) / 작년 * 100

In [249]:
# 15년~16년 사이의 범죄 증감률

s1516 = (s16-s15) / s15 * 100
s1516

관서명
광주지방경찰청계   -18.130643
광주동부경찰서    -12.186837
광주서부경찰서    -17.542373
광주남부경찰서    -11.903637
광주북부경찰서    -24.112697
광주광산경찰서    -17.473634
Name: 총계, dtype: float64

In [251]:
s1617 = (s17-s16) / s16 * 100
s1617

관서명
광주지방경찰청계    -9.516087
광주동부경찰서    -13.007737
광주서부경찰서     -6.526208
광주남부경찰서    -17.050938
광주북부경찰서     -4.893925
광주광산경찰서    -12.285797
Name: 총계, dtype: float64

변수들 정리(모두 Series)
- s15 : 15년 범죄 발생건수 총계
- s16 : 16년 --
- s17 : 17년 --
- s1516 : 15-16증감률
- s1617 : 16-17증감률

In [255]:
# pd.concat([DF or Series들], axis = 0 or 1) axis 생략시 0
# Series나 DF 병합할 때 사용

In [259]:
pd.concat([s15, s16], axis = 1)

             총계     총계
관서명
광주지방경찰청계  18830  15416
광주동부경찰서    2355   2068
광주서부경찰서    4720   3892
광주남부경찰서    2117   1865
광주북부경찰서    5466   4148
광주광산경찰서    4172   3443

In [261]:
total = pd.concat([s15, s1516, s16, s1617, s17], axis=1)
total.columns = ['2015총계', '2015-2016증감률', '2016총계', '2016-2017증감률', '2017총계']

total

          2015총계  2015-2016증감률  2016총계  2016-2017증감률  2017총계
관서명
광주지방경찰청계   18830    -18.130643   15416     -9.516087   13949
광주동부경찰서     2355    -12.186837    2068    -13.007737    1799
광주서부경찰서     4720    -17.542373    3892     -6.526208    3638
광주남부경찰서     2117    -11.903637    1865    -17.050938    1547
광주북부경찰서     5466    -24.112697    4148     -4.893925    3945
광주광산경찰서     4172    -17.473634    3443    -12.285797    3020

In [265]:
total.style.format('{:.2f}%')

# : (포맷 옵션 시작)
# .2 (소수점 자리수)
# f (부동소수점)

In [267]:
total.style.format({
    '2015-2016증감률':'{:.2f}%',
    '2016-2017증감률':'{:.2f}%'
})